.root {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #2a2c2f;
  max-width: 1280px;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
